@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  --tw-bg-opacity: 1;
  scroll-behavior: smooth;
  text-underline-offset: 4px;
}

@font-face {
  font-family: 'Neue Haas Unica';
  font-weight: 200;
  font-display: swap;
  src: url('./assets/fonts/NeueHaasUnicaPro-UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Unica';
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/NeueHaasUnicaPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Unica';
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/NeueHaasUnicaPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Unica';
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/NeueHaasUnicaPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Unica';
  font-weight: 600;
  font-display: swap;
  src: url('./assets/fonts/NeueHaasUnicaPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Unica';
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/NeueHaasUnicaPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Unica';
  font-weight: 800;
  font-display: swap;
  src: url('./assets/fonts/NeueHaasUnicaPro-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Unica';
  font-weight: 900;
  font-display: swap;
  src: url('./assets/fonts/NeueHaasUnicaPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Unica';
  font-weight: 1000;
  font-display: swap;
  src: url('./assets/fonts/NeueHaasUnicaPro-XBlack.ttf') format('truetype');
}
